<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <script src="//polyfill.io/"></script>

    <link rel="stylesheet" src="//polyfill.io/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.min.css"/>

    {{ghost_head}}
</head>
<body class="{{body_class}}">

<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <a href="/" title="{{@blog.title}} - {{@blog.description}}">
            <div id="site-head-content" class="inner">
                <h1 class="blog-title{{#if @blog.logo}} image-logo{{/if}}"{{#if @blog.logo}}
                    style="background-image: url('{{@blog.logo}}')"{{/if}}>
                    {{@blog.title}}
                </h1>

                <h2 class="blog-description">{{@blog.description}}</h2>
            </div>
        </a>
    </div>
</header>

{{{body}}}

<footer class="site-footer">
    <div class="inner">
        <div class="get-connected">
            <h3>Connect with me</h3>
            <p>
                <a class="icon-gplus-circled" href="#" target="_blank"></a>
                <a class="icon-twitter-circled" href="#" target="_blank"></a>
                <a class="icon-mail-circled" href="#" target="_blank"></a>
                <a class="icon-github-circled" href="#" target="_blank"></a>
                <a class="icon-linkedin-circled" href="#" target="_blank"></a>
            </p>
        </div>
        <div class="about">
            <h3>About author</h3>
            <p>Lorem ipsum dolor Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
        <div class="copybox">
            <p>Copyright &copy; 2013 <a href="/">{{@blog.title}}</a></p>
            <p class="poweredby">
                Proudly powered by <a href="http://www.ghost.org" target="_blank">GHOST</a>.<br/>
                Theme <a href="https://github.com/viktorbezdek/ghostentista">ghostentista</a> by <a href="http://www.viktorbezdek.cz">Viktor Bezdek</a>.
            </p>
        </div>
    </div>
</footer>

{{ghost_foot}}
<script src="/assets/js/index.min.js"></script>

</body>
</html>